@import "../../assets/variables";

.dragon-list::-webkit-scrollbar {
	width: 4px;
	background-color: $blue-grad;
}
.dragon-lis::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: lightgray;
    border-radius: 10px;
}

.dragon-list::-webkit-scrollbar-thumb {
    background-color: $txtcolor;
    border-radius: 10px;
}

.grid-container{
    width: 100vw;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    .dragon-list{
        overflow: auto;
        width: 100vw;
        height: 98%;
        max-width: 700px;
    }

    .fab-add{
        margin: 1;
        background: darkorange;
        position: absolute;
        bottom: 1em;
    }
    .edit-icon{
        margin-right: 16px;
    }
    
    .list-name{
        color: $txtcolor;
    }
    
    svg {
        fill: $txtcolor !important;
    }
}