@import "../../assets/variables";

.grid-container{
    .fab-add{
        margin: 1;
        background: darkorange;
    }
    .edit-icon{
        margin-right: 16px;
    }
    
    .list-name{
        color: $txtcolor;
    }
    
    svg {
        fill: $txtcolor !important;
    }
}