$blue-grad: linear-gradient(147deg, #0cbfc7c7 30%, #c7cbd2 90%);
$reverse-blue: linear-gradient(317deg, #0cbfc7c7 30%, #c7cbd2 90%);
$orange-grad: linear-gradient(45deg, #483035c2 30%, #FF8E53 90%);
$txtcolor: #fff5e7;
