@import "../../assets/variables";

.login-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    img{
      width: 150px;
      height: 150px;
      margin: auto;
      margin-bottom: 2em;
    }
    .textField {
      margin-left: 1;
      margin-right: 1;
      width: 200;
      label{
        color: $txtcolor;
      }
    }
    .button {
      margin-top: 35px;
      background: $reverse-blue;
      color: #636363;
    }
    .input-icon{
      padding-bottom: 10px;
    }
}