@import "../../assets/variables";

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .textField {
      margin-left: 1;
      margin-right: 1;
      width: 200;
      label{
        color: $txtcolor;
      }
    }
    .button {
      margin-top: 35px;
      background: $btn-background;
      color: $txtcolor;
    }
    .input-icon{
      padding-bottom: 10px;
    }
}